.flexContainer{
    height: 490px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: none
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.flexCompra{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
}

.flexBotones{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-left: 80px;
    margin-top: 20px;
}

.imagen{
    height: 250px;
    width: 250px;
}

.producto{
    margin-left: 15px;
    font-size: 26px;
}

.peso{
    margin-left: 15px;
    font-size: 18px;
    color: darkgray;
}

.boton{
    width: 100%;
    align-self: center;
    background: none;
    color: black;
    border-radius: 15px;
    border-color: yellow;
}

.precioEntero{
    margin-top: 65px;
    margin-left: 15px;
}

.enCarro{
    margin-left: 15px;
    font-weight: bold;
}

.unidadesCarro{
    margin-left: 15px;
    font-weight: bold;
}

.precio{
    font-weight: bold;
}
